// Colours

// Generated palette from coolors.co

$black: #1f2421;
$grey: #333c37;

$light-purple: #cab7d7;
$dark-purple: #49223d;

$white: #faf8f3;
$off-white: #f0e7d8;

$blue: #38aba9;

$red: #bc2c1a;

// Colour functions

$background: $off-white;
$background-light: $white;

$text: $black;
$text-hover: $grey;

$highlight: $blue;
$warning: $red;

$spot-light: $light-purple;
$spot-dark: $dark-purple;
