// Footer styles
footer {
	margin-bottom: auto;
	border-top: 5px solid $highlight;
	font-weight: bold;
	div:nth-of-type(3) {
		border-top: 5px solid $highlight;
	}
}

// Large style

@include media-large {
	footer {
		div:nth-of-type(-n + 2) {
			display: none;
		}
		div:nth-of-type(3) {
			border-top: none;
		}
	}
}
