// Project stlyes

#projects {
	a,
	h2 {
		font-size: 2.2rem;
	}
	margin-top: 50px;
	margin-bottom: 50px;
}

#projects {
	display: flex;
	flex-direction: column;
	img {
		max-width: calc(80%);
		margin: 20px;
		border-radius: 20px;
		border: 2px solid $text;
	}
	h2,
	h3 {
		text-align: center;
		margin-top: auto;
	}
	h2 {
		margin-bottom: 10px;
	}
	h3 {
		margin-bottom: 30px;
	}
}

#projects-detail {
	display: flex;
	flex-direction: column;
	margin-top: 10%;
	margin-bottom: 10%;
	img {
		width: calc(80%);
		max-width: 800px;
		margin: 20px;
		border-radius: 40px;
		border: 2px solid $text;
	}
	h2,
	h3,
	p {
		margin-left: 10%;
		text-align: left;
	}
	h3 {
		text-align: center;
		margin-left: auto;
		margin-right: calc(40%);
	}
	div {
		margin-top: 2%;
		margin-bottom: 2%;
	}
}

// Medium style

@include media-med {
	#projects {
		display: grid;
		grid-template-columns: 1fr 1fr;
		a {
			font-size: 1.35rem;
		}
		h2 {
			font-size: 1.7rem;
		}
	}
}

// Large style

@include media-wide {
	#projects {
		grid-template-columns: 1fr 1fr 1fr;
	}
	#projects-detail {
		div {
			display: grid;
			grid-template-columns: 1fr 1fr;
			picture {
				grid-row-start: span 2;
				margin-left: auto;
			}
			h3 {
				text-align: center;
				margin-left: auto;
				margin-right: auto;
			}
			h2 {
				margin-top: auto;
			}
		}
	}
}
